.games-search__container {
    position: relative;
}

.games-search__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(27, 21, 83);
    z-index: 10;
}

.games-search__dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.games-search__dropdown-item:hover {
    background-color: #f0f0f0;
}

.games-search__selected {
    color: green;
    margin-top: 5px;
}
